# Library dependencies for the python code.  You need to install these with
# `pip install -r requirements.txt` before you can run this.
pycuda
matplotlib
jupyter
xmlrunner
netcdf4
pytest
pytest-cov
python-coveralls
numpy
scipy
pandas
tables
mpi4py
requests
