# Ignored folders
/build/
/.cproject
/.project
/.settings/
/.pydevproject
.ipynb_checkpoints/
.vscode/
/cuda_cache/

# Ignored file types
*.pyc
*~
*.nc
*.log

# Ignored folders from the build
/CMakeCache.txt
/CMakeFiles/
/DartConfiguration.tcl
/Makefile
/bin/
/cmake_install.cmake
/CTestTestfile.cmake
/doc/reference_python/
/python/images_*
/python/swashes/*.png